<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nemo</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-justified">
            <li>
              <%= link "Home", to: page_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Login", to: session_path(@conn, :new) %>
            </li>
            <li>
              <%= link "Register", to: registration_path(@conn, :new) %>
            </li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
